mat-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 382px;
  background-color: rgba(2, 48, 71, 1);
  color: rgba(251, 133, 0, 1);
  border-radius: 15px;
}

.mat-icon.mat-icon-inline {
  width: 20px;
  font-size: 20px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

mat-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner, .empty {
  display: flex;
  width: 250px;
  height: 150px;
  object-fit: contain;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 10px;
}

.empty {
  justify-content: center;
  background-color: rgba(2, 48, 71, 1);
  border: 1px solid #ffffff69;
}

.text {
  color: rgba(229, 229, 229, 1);
}

.title-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 30px;
}

.title-buttons {
  display: flex;
  justify-content: flex-end;
}

.teams {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3em;
  overflow-wrap: break-word;
  margin: 5px 0 5px 0;
}

.score {
  margin: 2px 0 2px 0;
}

mat-card-footer {
  display: flex;
  margin: 10px 0 0 0;
  justify-content: flex-end;
}
