<mat-card>
  <mat-card-title>
    <span [matTooltip]="sportEvent.name" [matTooltipPosition]="'above'" [matTooltipClass]="'tooltip'"
          [matTooltipDisabled]="sportEvent.name.length < 20" [matTooltipShowDelay]="0"
          class="title-name">{{ sportEvent.name }}</span>
  </mat-card-title>
  <mat-card-content>
    <img class="banner" *ngIf="sportEvent.banner" loading="lazy" [src]="'data:image/jpeg;base64,' + sportEvent.banner">
    <div class="empty" *ngIf="!sportEvent.banner">Banner</div>

    <div class="teams">
      <div class="team">
        <div>{{ sportEvent.firstParticipant }}</div>
        <div class="score">{{ sportEvent.firstScore }}</div>
      </div>
      <div class="team">
        <div class="score">{{ sportEvent.secondScore }}</div>
        <div>{{ sportEvent.secondParticipant }}</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button (click)="edit()">
      Edit
      <!--<mat-icon [inline]="true">edit_outline</mat-icon>-->
    </button>
    <button mat-button (click)="delete()">
      Delete
      <!--<mat-icon [inline]="true">delete_outline</mat-icon>-->
    </button>
  </mat-card-footer>
</mat-card>
