<mat-card>
  <mat-card-title>
    <span [matTooltipClass]="'tooltip'" [matTooltipDisabled]="sportEvent.name.length < 20" [matTooltipPosition]="'above'"
          [matTooltipShowDelay]="0" [matTooltip]="sportEvent.name"
          class="title-name">{{ sportEvent.name }}</span>
  </mat-card-title>
  <mat-card-content>
    <span class="team">{{ sportEvent.date | date:'dd.MM.yyyy' }}</span>
    <img *ngIf="sportEvent.images[0]" [src]="'data:image/jpeg;base64,' + sportEvent?.images[0]" class="banner"
         loading="lazy">
    <div *ngIf="!sportEvent.images[0]" class="empty"></div>

    <div class="teams">
      <div class="team">
        <span>{{ sportEvent.firstPlayer.name }}</span>
        <span class="score">{{ sportEvent.firstPlayer.name.length > 0 ? sportEvent.score.scorePlayer1 : '' }}</span>
      </div>
      <div class="team">
        <span class="score">{{ sportEvent.secondPlayer.name.length > 0 ? sportEvent.score.scorePlayer2 : ''}}</span>
        <span>{{ sportEvent.secondPlayer.name }}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <button (click)="edit()" mat-button>
      Edit
      <!--<mat-icon [inline]="true">edit_outline</mat-icon>-->
    </button>
    <button (click)="delete()" mat-button>
      Delete
      <!--<mat-icon [inline]="true">delete_outline</mat-icon>-->
    </button>
  </mat-card-footer>
</mat-card>
