<mat-card>
  <mat-card-content>
    <div class="column">
      <mat-form-field *ngIf="isAdding" class="input">
        <mat-select placeholder="Event type" [(ngModel)]="sportEvent.categoryId"
                    panelClass="select">
          <mat-option class="option" *ngFor="let category of categories"
                      [value]="category.id">{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input">
        <input autocomplete="off" matInput placeholder="Event name" [(ngModel)]="sportEvent.name" type="text">
      </mat-form-field>

      <mat-form-field class="input">
        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [(ngModel)]="sportEvent.date">
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker>
        </ngx-mat-datetime-picker>
      </mat-form-field>

      <img class="banner" (click)="imageElement.click()" *ngIf="sportEvent.imageBase64" loading="lazy"
           [src]="'data:image/jpeg;base64,' + sportEvent.imageBase64">
      <button class="empty" (click)="imageElement.click()" *ngIf="!sportEvent.imageBase64">Click to upload</button>
      <input type="file" #imageElement (change)="selectImage($event)"
             hidden
             accept="image/*" style="display:none">
    </div>

    <div class="column">
      <div class="teams">
        <div class="team">
          <mat-form-field class="input">
            <input autocomplete="off" matInput placeholder="First player" [(ngModel)]="sportEvent.firstPlayer.name"
                   type="text">
          </mat-form-field>
          <div class="quantity container">
            <button (click)=dec()>-</button>
            <input class="quantity" [(ngModel)]="sportEvent.score.scorePlayer1"
                   type="number">
            <button (click)=inc()>+</button>
          </div>
        </div>

        <div class="team">
          <mat-form-field class="input">
            <input autocomplete="off" matInput placeholder="Second player" [(ngModel)]="sportEvent.secondPlayer.name"
                   type="text">
          </mat-form-field>
          <div class="quantity container">
            <button (click)=dec2()>-</button>
            <input class="quantity" [(ngModel)]="sportEvent.score.scorePlayer2"
                   type="number">
            <button (click)=inc2()>+</button>
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
  <mat-card-footer>
    <button mat-button (click)="cancel()">
      Reset
    </button>
    <button mat-button (click)="save()">
      Save
    </button>
  </mat-card-footer>
</mat-card>
