<mat-card>
  <mat-card-title>
    <mat-select class="input" *ngIf="isAdding" label="Select type" [(ngModel)]="sportEvent.type" panelClass="select">
      <mat-option class="option" *ngFor="let type of keys" [value]="sportEvent.type">{{ type }}</mat-option>
    </mat-select>
    <input autocomplete="off" matInput placeholder="Event name" [(ngModel)]="sportEvent.name" class="input" type="text">

    <mat-form-field>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix  [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </mat-card-title>
  <mat-card-content>
    <img class="banner" (click)="imageElement.click()" *ngIf="sportEvent.banner" loading="lazy"
         [src]="'data:image/jpeg;base64,' + sportEvent.banner">
    <button class="empty" (click)="imageElement.click()" *ngIf="!sportEvent.banner">Click to upload</button>
    <input type="file" #imageElement (change)="selectImage($event)"
           hidden
           accept="image/*" style="display:none">
    <div class="teams">
      <div class="team">
        <input autocomplete="off" matInput placeholder="First participant" [(ngModel)]="sportEvent.firstParticipant"
               class="input" type="text">
        <div class="quantity container">
          <button (click)=dec()>-</button>
          <input #firstScore class="quantity" min="0" [(ngModel)]="sportEvent.firstScore"
                 type="number">
          <button (click)=inc()>+</button>
        </div>
      </div>
      <div class="team">
        <div class="quantity container">
          <button (click)=dec2()>-</button>
          <input #secondScore class="quantity" min="0" [(ngModel)]="sportEvent.secondScore"
                 type="number">
          <button (click)=inc2()>+</button>
        </div>
        <input autocomplete="off" matInput placeholder="Second score" [(ngModel)]="sportEvent.secondParticipant"
               class="input" type="text">
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button (click)="cancel()">
      Cancel
    </button>
    <button mat-button (click)="save()">
      Save
    </button>
  </mat-card-footer>
</mat-card>
