<mat-card class="login-card">
  <mat-card-title>Authorization</mat-card-title>
  <form #f="ngForm" (ngSubmit)="f.valid && login()" class="form" novalidate>
    <mat-form-field class="input">
      <input [(ngModel)]="model.username" autocomplete="off" matInput name="login" placeholder="Login" required
             type="text">
    </mat-form-field>

    <mat-form-field class="input">
      <input [(ngModel)]="model.password" autocomplete="off" matInput name="password" placeholder="Password" required
             type="password">
    </mat-form-field>

    <button [disabled]="!f.valid || loading" mat-stroked-button type="submit">
      Log In
    </button>
  </form>
  <div class="error">{{error}}</div>
</mat-card>
