<mat-tab-group class="tabGroup">
  <mat-tab label="Football">
    <div class="container" *ngFor="let event of storage.footballEvents">
      <app-event-card [sportEvent]="event"></app-event-card>
    </div>
  </mat-tab>
  <mat-tab label="Basketball">
    <div class="container" *ngFor="let event of storage.basketEvents">
      <app-event-card [sportEvent]="event"></app-event-card>
    </div>
  </mat-tab>
  <mat-tab label="Tennis">
    <div class="container" *ngFor="let event of storage.tennisEvents">
      <app-event-card [sportEvent]="event"></app-event-card>
    </div>
  </mat-tab>
  <mat-tab label="Hockey">
    <div class="container" *ngFor="let event of storage.hockeyEvents">
      <app-event-card [sportEvent]="event"></app-event-card>
    </div>
  </mat-tab>
</mat-tab-group>
<div>
</div>
