<mat-tab-group  class="tabGroup">
  <mat-tab label="Football">
    <div class="con" *ngFor="let event of footballEvents">
      <app-event-card [event]="event"></app-event-card>
    </div>
  </mat-tab>
  <mat-tab label="Basketball">
    <div class="con" *ngFor="let event of basketEvents">
      <app-event-card [event]="event"></app-event-card>
    </div>
  </mat-tab>
  <mat-tab label="Tennis">
    <div class="con" *ngFor="let event of tennisEvents">
      <app-event-card [event]="event"></app-event-card>
    </div>
  </mat-tab>
  <mat-tab label="Hockey">
    <div class="con" *ngFor="let event of hockeyEvents">
      <app-event-card [event]="event"></app-event-card>
    </div>
  </mat-tab>
</mat-tab-group>
<div>
</div>
