html, body {
  height: 100%;
  background-color: rgba(206, 219, 225, 1)
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-labels {
  justify-content: space-around;
}

mat-tab-header {
  margin-bottom: 50px;
  background-color: rgba(2, 48, 71, 1);
  border-radius: 15px;
}

.mat-toolbar {
  z-index: 998;
  position: fixed
}

.mat-tab-group {
  margin-top: 55px;
}

.mat-tab-label {
  color: rgba(251, 133, 0, 1);
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar,
html::-webkit-scrollbar-thumb {
  background-color: rgba(251, 133, 0, 1);
}

.mat-tab-body-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow: hidden !important;
}

.tooltip {
  background-color: rgba(2, 48, 71, 0.7);
  color: rgba(251, 133, 0, 1) !important;
}

.mat-dialog-container {
  /*background-color: rgba(2, 48, 71, 1);*/
  padding: 0 !important;
  border-radius: 15px !important;
}
